.red {
    color: red;
}

.black {
    background-color: black;
}

a {
    text-decoration: none;
    color: black;
}

img {
    max-height: 800px;
}

#content-div {
    font-size: 25px;
    font-family: Arial, sans-serif
}

button {
    background: transparent;
    border: none;
}

.form-group {
    text-align: center;
}