{% extends "base.html" %}

{% block content %}

<form method="POST" class="text-danger">
    {% csrf_token %}
    <h3 class="fw-bolder">
    <div class="form-group">
        <div>{{ form.title.label_tag }}</div>
        {{ form.title }}
    </div>
    </h3>
    <h3 class="fw-bolder">
    <div class="form-group">
        <div>{{ form.game.label_tag }}</div>
        {{ form.game }}
    </div>
    </h3>
    <h3 class="fw-bolder">
    <div class="form-group">
        <div>{{ form.content.label_tag }}</div>
        {{ form.content }}
    </div>
    </h3>
    <h3 class="fw-bolder">
    <div class="form-group">
        <div>{{ form.rating.label_tag }}
            (must be out of 10)</div>
        {{ form.rating }}
        <button type="submit" class="btn btn-danger btn-lg">Submit</button>
    </div>
    </h3>
    
  </form>


{%endblock%}