{% extends "base.html" %}

{% block content %}

<div class="col-12 mt-3 left">
    <div class="row">
        {% for review in review_list %}
        <div class="col-md-4">
            <div class="card mb-4">
                <div class="card-body black">
                    <div class="image-container">
                        {% if "placeholder" in review.game.featured_image.url %}
                        <a href="{% url 'review_detail' review.slug  %}">
                            <img class="card-img-top"
                                src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/2048px-No_image_available.svg.png">
                        </a>
                        {% else %}
                        <a href="{% url 'review_detail' review.slug  %}">
                            <img class="card-img-top" src=" {{ review.game.featured_image.url }}">
                        </a>
                        {% endif %}
                        <div class="image-flash text-light">
                            <p class="author">Author: {{ review.author }}</p>
                        </div>
                    </div>
                    <a href="{% url 'review_detail' review.slug  %}" class="review-link">
                        <h2 class="card-title text-danger">{{ review.title }}</h2>
                        <p class="card-text text-light">{{ review.excerpt }}</p>
                    </a>
                    <p class="card-text text-light"> {{ review.game }}</p>
                    <p class="card-text text-light"> {{ review.rating }}/10</p>
                    <hr />
                    <p class="card-text h6 text-danger" >{{ review.created_on}} <i class="far fa-heart"></i>
                        {{ review.number_of_likes }}</p>
                </div>
            </div>
        </div>
            {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}