{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-6">
            <!-- Review post-->
            {% for review in review_list %}
            <div class="card mb-4">
                {% if "placeholder" in review.featured_image.url %}
                <img class="card-img-top"
                src="https://upload.wikimedia.org/wikipedia/commons/d/d1/Image_not_available.png">
                {% else %}
                <img class="card-img-top" src=" {{ review.featured_image.url }}">
                {% endif %}
                <div class="card-body">
                    <div class="small text-muted">{{ review.created_on}}</div>
                    <h2 class="card-title h4">{{ review.title }}</h2>
                    <p class="card-text">Author: {{ review.author }} <i class="far fa-heart">{{ review.number_of_likes }}</i></p>
                    
                </div>
            </div>
</div>
            {% if forloop.counter|divisibleby:3 %}
            </div>
            <div class="row">
                {% endif %}
                {% endfor %}

            </div>
        </div>
    </div>
    {% if is_paginated %}
    <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
            {% if page_obj.has_previous %}
            <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREV </a></li>
            {% endif %}
            {% if page_obj.has_next %}
            <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>

            {% endif %}
        </ul>
    </nav>
    {% endif %}
</div>
{%endblock%}