{% extends 'base.html' %} {% block content %}
{% load crispy_forms_tags %}


<div class="container mt-5">
    <div class="row">
        <div class="col-lg-8">
            <article>
                <!-- Post header-->
                <header class="mb-4 text-white">
                    <!-- Post title-->
                    <h1 class="fw-bolder mb-1 text-danger">{{ review.title }}</h1>
                    <!-- Post meta content-->
                    <div class="fst-italic mb-2">
                        {{ review.author}} {{ review.created_on }} 
                        <p> {{ review.game.title}}, {{ review.game.developer}}, {{ review.game.release_date}},  {{ review.game.genre}} </p>
                    </div>
                    <div class="fw-bolder text-danger">
                        <h3>{{ review.rating }}/10</h3>
                    </div>
                </header>
                <!-- Post content-->
                <section class="mb-5">
                    <div class="text-white" id="content-div">
                        <div>
                            <img src="{{ review.game.featured_image.url }}">
                        </div>
                        {{ review.content | safe }}
                    </div>
                </section>
            </article>

            <section>
                <div class="row">

                    <div class="col-1">
                        <strong>
                            {% if user.is_authenticated %}
                            <form class="d-inline" action="{% url 'review_like'  review.slug %}" method="POST">
                                {% csrf_token %}
                                {% if liked %}
                                <button type="submit" name="review_id" value="{{review.slug}}"><i class="fa-solid fa-heart" style="color: #ff0000;"></i></button>
                                {% else %}
                                <button type="submit" name="review_id" value="{{review.slug}}" class="btn-like"><i class="fa-solid fa-heart" style="color: #ffffff;"></i></button>
                                {% endif %}
                            </form>
                            {% else %}
                            <span class= "text-white"><i class="far fa-heart"></i></span>
                            {% endif %}
                        
                        <span class="text-white">{{ review.number_of_likes }} </span>
                        </strong>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-white"><i class="far fa-comments"></i>
                            
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-md-8 card mb-4  mt-3 black">
            <h3 class="fw-bolder black text-danger" style="margin-left: 30px;">Comments:</h3>
            <div class="card-body black text-white">
                
                {% for comment in comments %}
                <div class="comments" style="padding: 10px;">
                    <p class="font-weight-bold">
                        
                        {{ comment.name }}
                        <span class="font-weight-normal ">
                            
                            {{ comment.created_on }}
                        </span> wrote:
                    </p>
                    
                    {{ comment.body }}
                </div>

                <hr>
                
                {% endfor %}
            </div>
        </div>
        <div class="col-md-4 card mb-4  mt-3 black">
            <div class="card-body text-white">
                
                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}
                {% if user.is_authenticated %}

                <h3 class="fw-bolder text-danger">Leave a comment:</h3>
                <p>Posting as: {{ user.username }}</p>
                <form method="post" style="margin-top: 1.3em;">
                    {{ comment_form | crispy }}
                    {% csrf_token %}
                    <button type="submit" class="btn btn-signup btn-lg btn-danger">Submit</button>
                </form>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>
</section>

{% endblock content %}